pre
{
  padding: 20px;
  code
  {
  border-radius: 5px;
  display: block;
    overflow-x: auto;
    background: #2d2d2d;
    color: #cccccc;
    padding: 0.5em;
  }

  .copyClipboard
  {
    cursor: pointer;
  }
}