#converter
{
  .outer
  {
    padding: 20px;
    textarea
    {
      width: 100%;
      height: 300px;
      outline: none;
      border-radius: 5px;
    }
  }

  .invalid
  {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 202, 202);
    margin: 20px;
  }

  .minify
  {
    cursor: pointer;
  }
}