body
{
  font-family: 'Roboto', 'Verdana';

  header
  {
    padding: 50px 0 0 0;
    text-align: center;
    h1
    {
      font-family: 'Oxanium', 'Verdana';
      // color: #2e73b4;
      font-size: 4em;
      font-weight: 200;
      padding: 0 0 0 0;
      margin: 0;
    }

    h2
    {
      font-size: 1.0em;
      color: grey;
      letter-spacing: 3px;
      // border: 1px solid #2e73b4;
      padding: 10px;
      margin: 0;
      font-weight: normal;
    }
  }

  nav
  {
    padding: 50px 0;
    text-align: center;
    font-size: 0.9em;
    // font-weight: bold;
    color: #2e73b4
  }
}

