$linkcolor: #2e73b4;

.App
{
  position: relative;
  min-height: 100vh;
  padding: 0 0 80px 0;
}

body
{
  font-family: 'Raleway', 'Verdana';
  padding: 0;
  margin: 0;

  a, a:active, a:visited
  {
    color: $linkcolor;
  }

  a:hover
  {
    text-decoration: none;
  }


  header
  {
    padding: 50px 0 0 0;
    text-align: center;
    h1
    {
      font-family: 'Oxanium', 'Verdana';
      // color: #2e73b4;
      font-size: 4em;
      font-weight: 200;
      padding: 0 0 0 0;
      margin: 0;
    }

    h2
    {
      font-size: 1.0em;
      color: grey;
      letter-spacing: 3px;
      // border: 1px solid #2e73b4;
      padding: 10px;
      margin: 0;
      font-weight: normal;
    }
  }

  nav
  {
    padding: 50px 0 70px 0;
    text-align: center;
    color: rgb(107, 107, 107);
    a, a:visited, a:active
    {
      font-size: 1em;
      color: $linkcolor;
      text-decoration: none;
    }

    a:hover
    {
      text-decoration: underline;
    }

    .active
    {
      // font-weight: bold;
      text-decoration: underline;
    }
  }

  .content
  {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6em;
    padding: 10px;
  }

  li:before
  {
    content: '\1F449';
    margin-left: -20px;
    margin-right: 5px;
  }

  footer
  {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
    // font-weight: bold;
    text-align: center;
    background-color: rgb(238, 242, 255);
    padding: 10px 0;
  }
}

